<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= current_article.title + ' &ndash; ' unless current_article.nil? %><%= data.settings.name %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "aenism-bootstrap/application", {:rel=>"stylesheet"} %>
    <%= partial "webfonts" %>
  </head>
  <body class="<%= page_classes %> <%= ' article' if is_blog_article? %>">
    
    <div class="wrapper">
    
      <%= partial "header" %>
      
      <div class="container">

        <section id="main" role="main">
    
          <% if is_blog_article? %>
            <article class="post">
              <h2><%= current_article.title %></h2>
              <%= yield %>
              <footer>
                <%= datetime_ago(current_article.date) %>
              </footer>
            </article>
          <% else %>
            <%= yield %>
          <% end %>
      
        </section>
        
      </div>
    
    </div>
    
    <%= partial "footer" %>
      
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <%= javascript_include_tag  "application" %>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-21041420-6');ga('send','pageview');
    </script>

  </body>
</html>
