---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous', prev_page %></p>
  <% end %>
<% end %>

<section id="articles">
  <% page_articles.each_with_index do |article, i| %>
  <article <%= "style=\"background-image:url('#{article.data.image}');\"" if article.data.image %>>
    <h2><%= link_to article.title, article %></h2>
    <!-- use article.summary(250) if you have Nokogiri available to show just
         the first 250 characters -->
    <% if article.data.description %>
      <footer>
        <p><%= article.data.description %></p>
      </footer>
    <% end %>
  </article>
  <% end %>
</section>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next', next_page %></p>
  <% end %>
<% end %>